{% extends 'base.html' %}
{% block content %}



<!-- Первый блок: список КСУ -->
          <div id="blockDefault" class="bg-white dark:bg-gray-800 rounded-lg shadow p-6">
            <div class="px-6 py-3 border-b font-medium text-lg flex justify-between items-center">
              <span>Задание номера КСУ поступления</span>
            </div>

            <div class="p-4 flex gap-4">
              <div class="w-full border-r border-gray-300 dark:border-gray-600 pr-4">
                
                <button id="newKsuBtn" class="px-4 py-2 bg-green-600 hover:bg-green-700 text-white rounded mb-3">
                  <a href="{% url 'addBook' %}">+ Новая КСУ</a>
                </button>

                <div class="font-medium mb-2">Номер КСУ (номер акта):</div>
                <ul class="space-y-1">
                  {% for i in books%}
                  <!-- <li class="flex items-center gap-2 bg-blue-100 dark:bg-blue-900/30 p-1 rounded">
                    <input type="checkbox" checked class="w-4 h-4">
                    <span class="flex-1">{{i.date_numksu}}</span>
                    <button class="text-white  px-2 py-1 text-sm bg-green-500 rounded hover:bg-green-700  read-btn"><a href="">Смотреть</a></button>
                    <button class="text-white  px-2 py-1 text-sm bg-blue-500 rounded  hover:bg-blue-700 edit-btn"><a href="{% url 'editBook' i.id %}">Изменить</a></button>
                    <button class="text-white  px-2 py-1 text-sm bg-red-500  rounded  hover:bg-red-700 del-btn"><a href="">Удалить</a></button>
                  </li>  -->
                  <li class="flex flex-col gap-2 bg-blue-100 dark:bg-blue-900/30 p-2 rounded">

  <div class="flex items-center gap-2">
    

    <span class="flex-1">{{i.date_numksu}}</span>

    <button 
      type="button"
      onclick="toggleAccordion(this)"
      class="text-white px-2 py-1 text-sm bg-green-500 rounded hover:bg-green-700">
      Смотреть
    </button>

    <button class="text-white px-2 py-1 text-sm bg-blue-500 rounded hover:bg-blue-700">
      <a href="{% url 'editBook' i.id %}">Изменить</a>
    </button>

    <button class="text-white px-2 py-1 text-sm bg-red-500 rounded hover:bg-red-700">
      Удалить
    </button>
  </div>

  <div class="accordion hidden bg-white dark:bg-gray-800 rounded p-2">
    <ul class="space-y-2 text-sm text-gray-600 dark:text-gray-300">
      <li class="font-bold" >ФИО: {{i.user}}</li>
      <li class="font-bold" >Год и номер записи в КСУ: {{i.date_numksu}}</li>
      <li class="font-bold" >Номер акта индивидуального учета: {{i.num_akt}}</li>
      <li class="font-bold" >Номер сопроводительного документа: {{i.num_sop_doc}}</li>
      <li class="font-bold" >Источник комплектования (КОД): {{i.istochnic_c}}</li>
      <li class="font-bold" >Число наименований: {{i.date_naimen}}</li>
      <li class="font-bold" >Число экземпляров: {{i.date_ekzam}}</li>
      <li class="font-bold" >На сумму*: {{i.price}}</li>
      {% for i in books1 %}
      <li class="font-bold" >По разделам знаний*: {{i.category}}</li>
      <li class="font-bold" >Книги на баланс: {{i.books}}</li>
      <li class="font-bold" >Брошюры: {{i.broshur}} </li>
      <li class="font-bold" >Журналы: {{i.journal}} </li>
      <li class="font-bold" >Аудио/Видео: {{i.aud_vid}}  </li>
      <li class="font-bold" >Карты: {{i.carty}} </li>
      <li class="font-bold" >Ноты: {{i.noty}} </li>
      <li class="font-bold" >Электронные издания: {{i.electron_izd}} </li>
      <li class="font-bold" >Прочие:{{i.prochy}} </li>
      <li class="font-bold" >Русский язык: {{i.russian}}</li>
      <li class="font-bold" >Национальный язык: {{i.national}} </li>
      <li class="font-bold" >Другой язык:  {{i.other}} </li>
      <li class="font-bold" >Макс. и мин. инв номера партии:  {{i.inv_num}} </li>
      <li class="font-bold" >Всего наименований без периодики: {{i.bez_periodiki}} </li>
      <li class="font-bold" >Всего экземпляров: {{i.all_examp}}  </li>
      <li class="font-bold" >Всего на сумму*:  {{i.summa}} </li>
      {% endfor %}
    </ul>
  </div>

</li>
                  {% endfor %}
                </ul>
              </div>

              
            </div>
          </div>

  
<script>
  function toggleAccordion(btn) {
    const currentItem = btn.closest('li');
    const currentAccordion = currentItem.querySelector('.accordion');

    // закрываем все остальные
    document.querySelectorAll('.accordion').forEach(acc => {
      if (acc !== currentAccordion) {
        acc.classList.add('hidden');
      }
    });

    // переключаем текущий
    currentAccordion.classList.toggle('hidden');
  }
</script>


{% endblock content %}