{% load static %}

  
  <!-- Основной интерфейс -->
  <div id="app" class="flex h-screen">
    

    <div class="flex-1 flex flex-col">
      <header
        class="bg-white h-16 dark:bg-gray-900 border-b border-gray-200 dark:border-gray-800 px-6 py-3 flex justify-between items-center">
        <div class="text-lg font-semibold">Электронный каталог</div>
        <div class="flex items-center gap-3">
          <div
            class="w-8 h-8 rounded-full bg-primary-600 flex items-center justify-center text-white text-sm font-medium">
            С</div>
          <span>Sasha</span>
        </div>
      </header>
      <main class="flex-1 p-6 overflow-auto">
        
    


