{% load static %}
<!DOCTYPE html>
<html lang="ru" class="scroll-smooth">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Ирбис-Web</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <script>
    tailwind.config = {
      darkMode: 'class',
      theme: {
        extend: {
          colors: {
            primary: { 600: '#2563eb', 700: '#1d4ed8' }
          }
        }
      }
    }
  </script>
</head>

{% block content %}

{% endblock %}

</html>